/locale-check
/debian/tmp
/debian/files
# /debian/changelog
/debian/debhelper-build-stamp
/debian/.debhelper
/debian/*.build
/debian/*.changes
/debian/*.log
/debian/*.substvars

/debian/leios.*

/deb-build
/public

leios.theme.grub-theme_*.dsc
leios.theme.grub-theme_*.tar.xz
leios.theme.grub-theme_*.tar.gz
