Source: leios.theme.grub-theme
Section: kde
Priority: optional
Maintainer: LeiOS Project Team <support@leios.dev>
Build-Depends: debhelper-compat (= 13), rsync
Standards-Version: 4.6.2
Homepage: https://git.leicraftmc.de/LeiOS/Theme-Packages/Grub-Theme
Rules-Requires-Root: no

Package: leios.theme.grub-theme
Architecture: all
Depends: ${misc:Depends}
Description:
 Complete Theme Files for LeiOS Grub Theme
